.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 100vh;
  background-image: radial-gradient(
      circle at 83% 70%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 72% 5%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 26% 91%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 19% 59%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 18% 99%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 74% 21%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 54% 49%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 14% 83%,
      rgba(255, 255, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.17) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 37% 84%,
      rgba(255, 255, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.17) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 42% 27%,
      rgba(255, 255, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.17) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 67% 82%,
      rgba(255, 255, 255, 0.17) 0%,
      rgba(255, 255, 255, 0.17) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(304deg, rgba(103, 146, 54, 0.85), rgba(104, 112, 27, 0.51));
}

.chat-section-1 {
  width: 23%;
  height: 70%;
  padding: 5px 10px;
  overflow-y: auto;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: white;
}

.chat-section-1::-webkit-scrollbar {
  display: none;
}

.ant-list-item-meta-title {
  margin-top: 0px;
}

.ant-list-item {
  padding-left: 2px !important;
}

.ant-tabs-nav {
  /* position: sticky !important; */
}

.chat-section-2 {
  height: 71% !important;
  width: 50%;
}

.message-section {
  height: 100%;
  border-radius: 15px;
  /* border: 1px solid black; */
  background-color: white;
}

.message-section img {
  height: 50%;
  width: 50%;
}

.chat-messages {
  display: flex !important;
  flex-flow: column-reverse;
  /* justify-content: end; */
  /* flex-direction: column-reverse; */
  row-gap: 8px;
  padding: 5px 5px;
  height: 335px !important;
  overflow-y: scroll;
}

.chat-sender {
  margin-left: auto;
  width: auto !important;
  max-width: 51% !important;
  word-wrap: break-word;
  background-color: rgb(109, 109, 201);
  padding: 10px;
  color: white;
  border-radius: 15px 0px 15px 15px;
}

.chat-receiver {
  border-radius: 0px 15px 15px 15px;
  max-width: 51% !important;
  width: max-content;
  word-wrap: break-word;
  padding: 10px;
  background-color: rgb(226, 226, 226);
}

/* .chat-left {
  display: flex !important;
} */

.chat-text-left {
  border-radius: 25px;
  width: max-content;
  word-wrap: break-word;
  padding: 10px;
  background-color: rgb(140, 71, 146);
  color: white;
  justify-content: center;
  margin: auto;
}

.chat-text-time-receiver {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin: 10px 0px 0px 0px;
}

.chat-text-time-sender {
  /* float: right; */
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.send-message-input {
  display: flex;
  justify-content: space-between;
  column-gap: 7px;
  align-items: center;
  /* margin-bottom: 3px; */
  padding: 0px 4px;
  position: relative;
  /* background-color: rgb(231, 231, 231); */
  border-radius: 10px;
  /* border-color: rgb(231, 231, 231); */
  border: 2px solid rgb(200, 200, 200);
  margin: 3px;
}

.emoji-picker-react {
  position: absolute !important;
  bottom: 60px !important;
}

.chat-sendMsg {
  padding: 15px 15px;
  width: 85%;
  margin: 5px 0px;
  border-radius: 33px;
  outline: none;
  border: none;
  background-color: rgb(231, 231, 231);
}

.chat-sendMsg::placeholder {
  color: rgb(180, 180, 180);
}

.sendIcon {
  background-color: rgb(109, 109, 201);
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-shadow: 0 8px 6px -5px rgba(0, 0, 0, 0.4);
}

.header-wrap {
  display: flex;
  flex-direction: column;
}

.hedaer-name {
  font-size: 20px;
}

.header-status {
  font-size: 14px;
}

@media (max-width: 425px) {
  .chat-container {
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 10px;
    height: auto;
  }

  .chat-section-1 {
    width: 100%;
  }

  .chat-section-2 {
    width: 100%;
  }
}

.dropdown-menu-dots-block {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  position: absolute;
  left: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.dropdown-menu-dots-none {
  display: none;
}

.ant-modal {
  height: 70% !important;
}

.dropdown-item {
  font-size: 15px;
  border: 1px solid rgb(200, 200, 200);
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.ant-upload-list {
  display: none;
}
